body{
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.png);
	background-position: center;
	background-size: cover;
}
.box{
	width: 700px;
	height: 500px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #F0F8FF;
	border-radius: 20px;
    font-size: 20px;
}
.logo{
	top: -123px;
	left: -80px;
	position: absolute;
	width: 250px;
	height: 250px;
}
.header{
	margin-left: 200px;
	margin-top: -5px;
	margin-bottom: 25px;
	font-size: 60px;
	color: #333333;
}
.sbday{
	margin-left: 50px;
	margin-top: -15px;
	position: absolute;
	font-size: 15px;
}
.lrm{
	font-size: 10px;
	margin-left: 335px;
	margin-top: -130px;
	margin-right: 80px;
	text-align: left;
}
.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	margin: 10px;
	margin-right: 15px;
	border: 2px solid #3498db;
	padding: 5px 10px;
	width: 250px;
	outline: none;
	color: black;
	border-radius: 5px;
	font-family: 'DM Sans', sans-serif;
}